.line{
    position: absolute;
    left: 0.5%;
    top: 4.5%;
    border-radius: 50%;
    
}
.icon{
    display: inline-block;
    font-size: 44px;
    animation: float 5s ease-in-out infinite;
}
.whatsapp{
    animation-delay: 1s;
}
.instagram{
    animation-delay: 2s;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}